<div class="container">
  <div class="row">
    <div class="col-3", style = "margin-top: 50px;">
    </div>
    <div class="col-9", style = "margin-top: 50px;">
      <table class="table">
        <thead>
          <tr>
            <th>name</th>
            <th>image</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td><%= user.name %></td>
              <td><%= image_tag user.get_profile_image(100,100),class:"mt-3 rounded-circle" %></td>
              <td><%= link_to "show", user_path(user) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>