<div class="container">
  <div class="row">
    <div class="col-3"></div>
    <div class="col-9">
      <table class="table">
        <thead>
          <tr>
            <th>name</th>
            <th>image</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= @user.name %></td>
            <th></th>
          </tr>
        </tbody>
      </table>
      <%= link_to "new", new_post_path %>
    </div>
  </div>
</div>
