<div class="back">
  <div class="hero d-flex flex-column">
    <h1 class="text-center" style = "margin-top: 100px" >
      ラーメン食べよう!
    </h1>
    <div class="text-center" style = "margin-top: 100px;">
      <p><strong>このサイトはラーメンに飢えてる人のためのサイトです<br>あなたの好みのラーメンが見つかります</strong></p>
    </div>
    <div class= "text-center" style= "margin-top: 50px;">
      <% unless user_signed_in? %>
        <%= link_to "log in", new_user_session_path %><br>
        <%= link_to "sign in", new_user_registration_path %>
      <% end %>
    </div>
  </div>
</div>