@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

// .hero {
//   height: calc(100vh - 62px);
//   background-repeat: no-repeat;
//   background-size: cover;
//   background-position: center center;
//   background-image: url("../images/ramen-jiro-kabukicho_0024-610x349.jpg);
// }

.hero {
  height: calc(100vh - 62px);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-image: url("../images/ramen-jiro-kabukicho_0024-610x349.jpg");
}